.orderItemContainer {
  margin-bottom: 32px;
  padding: 32px;
  background-color: var(--standard-white);
  border: 1px solid var(--bg-light-gray);
}

.shippingBilling {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.productList {
  border-top: 1px solid var(--bg-light-gray);
  margin-top: 24px;
  padding-top: 24px;
}

.productItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.productImage {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border: 1px solid var(--bg-light-gray);
  object-fit: cover;
}

.totalContainer {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}

.adminControls {
  margin-top: 24px;
  text-align: right;
}
