.root {
  max-width: 500px;
  margin: 80px auto;
  padding: 24px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.inputGroup {
  margin-bottom: 24px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: var(--standard-black);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

.successMessage {
  color: green;
  font-size: 14px;
  margin-top: 8px;
}
